.textarea-container {
    position: relative;
  }
.textarea-container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
.textarea-container button {
    position: absolute;
    top: 0;
    right: 0;
  }
  .inlinestyle{
    margin-left: 190px;
    }
  @media (max-width: 767px) {
    .inlinestyle{
    margin-left: 0;
    }
    .form-inline btn{
      margin:auto;
    }
  }
  @media (max-width: 400px) {
    .inlinestyle{
    margin-left: 0;
    }
    .form-inline btn{
      margin:auto;
      margin-left:auto;
    }
  }
